<div class="container">
  <h1>Angular Components</h1>
  <h2>SubHeader</h2>
  <app-post-form
    (onAdd)="updatePosts($event)"
  ></app-post-form>

  <hr />

  <app-post
    *ngFor="let p of posts"
    [post]="p"
    (onRemove)="removePost($event)"
  >
    <div #info>
      <small *ngIf="p.text.length > 10; else short">Пост длинный</small>
      <ng-template #short>
        <small>Пост короткий</small>
      </ng-template>
    </div>
  </app-post>

  <button class="btn" (click)="isVisible = !isVisible">Toggle</button>
  <div *ngIf="isVisible" class="wrap">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aliquid dolor explicabo
      harum hic illo illum in incidunt laboriosam, natus non, possimus quibusdam quis quod repellat rerum
      temporibus, vel.
    </p>
  </div>

  <!--<ng-template [ngIf]="isVisible">
    <div class="wrap">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aliquid dolor explicabo
        harum hic illo illum in incidunt laboriosam, natus non, possimus quibusdam quis quod repellat rerum
        temporibus, vel.
      </p>
    </div>
  </ng-template>-->

  <div class="wrap" *appIfnot="!isVisible">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aliquid dolor explicabo
      harum hic illo illum in incidunt laboriosam, natus non, possimus quibusdam quis quod repellat rerum
      temporibus, vel.
    </p>
  </div>

</div>


